<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Data</title>
</head>
<body>
<h1>{{ object.name }}</h1>
<h1>{{ object.course }}</h1>
<h1>{{ object.age }}</h1>


</body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>



<table>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>{{ object.name }}</td>
    <td>{{ object.course }}</td>
    <td>{{ object.age }}</td>
  </tr>
</table>

</body>
</html>
